/* .App {
  text-align: center;
} */

.container {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  height: 100vh;
  width: auto;
  align-items: center;
}

.topDiv {
  /* background-color: #f5f5f5; */
  border: 1px solid black;
  border-radius: 5px;
  margin: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
}

.bottomDiv {
  display: flex;
  border: 1px solid black;
  width: 100%;
  flex: 1;
  /* align-items: center; */
  justify-content: center;

}

body {
  background-image: url("/public/pokemon.background.png"); /* Adjust the path to your PNG file */
  background-size: cover; /* Optional: Scale the background image to cover the entire container */
  /* Add any other background properties here */
}

p,
a {
  color: white;
}
